footer{
    width: 100%;
    position: relative;
    bottom: 0;
    padding: 2rem 8%;
    background-color: $secondary;
    color: $primary;
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    & h3{
        font-family: 'Montserrat';
        font-weight: 800;
        margin-bottom: 1.5rem;
        font-size: 20px;
    }
    & ul li{
        font-size: 16px;
        list-style: none;
        float: left;
        margin: 30px;
        margin-bottom: 3rem;
        font-family: 'Montserrat';
        font-weight: 300;
    }
    & .redes{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    & #legal{
        font-size: 14px;
        color: $details;
        font-family: 'Montserrat';
        font-weight: 300;
    }
    & span{
        margin-top: 1.5em;
        font-size: 14px;
        color: $details;
        font-family: 'Montserrat';
        font-weight: 300;
    }
}

#face{
    width: 35px;
    border: solid $primary;
    border-width: 1.5px;
    border-radius: 20px;
}
#tw{
    @extend #face;
}
#yt{
    @extend #face;
}
