.header-login{
        height: 30px;
        background: $primary;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & h2{
            font-family: 'Montserrat black';
            color: map-get($map: $header-color, $key: 'secondary' );
            font-size: 15px;
        }
        & a{
            font-size: 15px;
            font-family: 'Montserrat';
            font-weight: 600;
            color: map-get($map: $header-color, $key: 'secondary' );
        }
    }
    .header-titular{
        height: 80px;
        background: $alternative;
        padding: 0 10px;
        color: map-get($map: $header-color, $key: 'primary' );
        display: flex;
        justify-content: space-between;
        align-items: center;
        & img{
            width: 130px;
            height: 50px;
        }
    }
    
    .menu a{
        color: map-get($map: $header-color, $key: 'primary' );
        text-transform: uppercase;
        padding: 0 40px;
        font-size: 15px;
        font-family: 'Montserrat';
        font-weight: 600;
        transition: 0.4s;
    }
    .menu input{
        border-radius: 2px;
        height: 30px;
        width: 220px;
        padding: 10px;
        font-size: 15px;
        font-family: 'Montserrat';
        font-weight: 500;
        border-style: none;
        transform: translateX(-100px);
        color: map-get($map: $header-color, $key: 'secondary' );
        outline: none;
    }
    .menu-mostrar,
    .menu-esconder{
        font-size: 40px;
        cursor: pointer;
        display: none;
        transition: 0.4s;
    }
    .menu-mostrar{
        order: 1;
    }
    .menu a:hover,
    .menu-mostrar:hover,
    .menu-esconder:hover{
        color: map-get($map: $header-color, $key: 'secondary' );
        text-decoration: none;
    }
    #check{
        display: none;
    }
