@mixin flex-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    max-width: 100%;
    gap: 50px;
}

@mixin cards($fondo){
    background-color: $fondo;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, .5);
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    transition: 0.1s;
    cursor: pointer;
}