/* Colores */

$primary: #f2f2f2;
$secondary: #222222;
$alternative: #d63c3c;
$details: #6a6a6a;
$borde: #ccc28b;
$gradient-primary: #ea4338;
$gradient-secondary: #4e4298;

/* Tipos */

$agua: rgb(222, 222, 253);
$fuego: rgb(253, 222, 222);
$planta: rgb(222, 253, 224);
$electrico: rgb(253, 251, 222);
$tierra: rgb(253, 242, 222);
$roca: rgb(223, 211, 188);
$hielo: rgb(222, 245, 252);
$hada: rgb(250, 224, 244);
$dragon: rgb(216, 194, 255);
$lucha: rgb(247, 210, 199);
$psiquico: rgb(245, 205, 235);
$fantasma: rgb(201, 184, 216);
$normal: rgb(243, 243, 243);
$veneno: rgb(243, 222, 253);
$bicho: rgb(244, 253, 222);

/* Map */

$header-color:(
    'primary': #f2f2f2,
    'secondary': #222222,
    'alternative': #d63c3c,
    'details': #6a6a6a,
)